#texte{
  text-align: center;
  font-size: 1em;
  background-color: rgba(0,0,0,0.3);
  margin-left: 2%;
  color:white;
}

body{
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  overflow: hidden;
}
.navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  width: 100%;
}
.navitem:nth-child(2){
  font-size: 2,5em;
  color: black;
  text-align: center;
  border:3px ridge black;
  width: 50%;
  background-color: #279bf8;
}
.disconnect{
  width: 48px;
  height: 48px;
  border: 3px ridge black;
  margin-top:35%;
  text-align: center;
  font-size: 1em;
  background-image: url(./img/disconnect.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
.loginEnter{
  height: 100%;
}

.loginEnter input{
  margin: 2% 0% 2% 35%;
  border:3px ridge black;
  font-size: 1.5em;
  text-align: center;
  height: 48px;
  background-color:#279bf8; 
}
.toto{
  margin: 20% 20% 12% 20%;
  background-color: transparent;
  background-color: rgba(0,0,0,0.3); 
  border:3px ridge black;
}
.loginEnter button{
  border:3px solid black;
  width: 48px;
  height: 48px;
  background-image: url(./img/power.png);
  background-repeat: no-repeat;
  background-size: 49px 50px;
  background-position: center;
  padding: 1%;
  margin-left: 1%;  
}
.loginEnter h1{
  text-align: center;
  color: black;
  border:3px ridge black;
  width: 30%;
  margin: 1% 0% 10% 35%;
  background-color: #279bf8;
}

.chatapp:nth-child(3){
  border: 5px ridge black;
  background-color: rgba(0,0,0,0.4);
  opacity: 0,5;
  width: 40%;
  height: 620px;
  
}

.output {
  width: 900px;
  height: 500px;
  overflow:auto;
  transform:rotate(180deg);
  direction:rtl;
}
.input {
  width: 80%;
  height: 100px;
  margin-bottom: 5%;
  margin-right: 2%;
}
.msg{
  text-align:justify;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  background-color: #279bf8;
  padding: 10px;
  overflow-wrap: break-word;
  width: 70%;
  
}
.chat {
  display: flex;
  justify-content: space-around;
}
::placeholder{
  text-align: center;
  color: black;
}
.connecter {
  overflow:auto;
  background-color: rgba(0,0,0,0.4);
  border: 5px ridge black;
  width: 200px;
  height: 620px;
  margin-top: 1%;
}
.date{
  text-align:center;
  color: #279bf8;
  font-size: 10px;
  margin-right: 30%;
  margin-top: 1%;
}
.avatar{
  height: 30px;
  width: 30px;
  border:1.5px solid white;
}
.avatarConnecter{
  border:2px ridge black;
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: #2ddb20;
}
.pseudo{
  color:white; 
}
.display{
  color:white;
}
.user-list{
  background-color: transparent;
  text-align: center;
  margin:5px 25px 1px 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user{
  width: 100px;
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25%;

  
}
.rotateMsg{
  transform:rotate(180deg);
  direction:ltr;
}
li{
  list-style:none;
}
.send{
  border:3px solid black;
  width: 48px;
  height: 48px;
  background-image:url(./img/send.png);
  background-color: white;
  background-size: 43px 43px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
}
/*Footer*/
.FooterGithub{
  position: absolute;
  text-align: center;
  width: 50%;
  height: 50px;
  margin: 0% 0% 0% 27%;


}
  .ImgGithub{
  border:4px ridge black;
  width: 48px;
  height: 48px;
  padding: 4px;
  background-color: #279bf8;
  }
  
  .ListGithub {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0px;
  }
  




